<section class="multisection-section section-title-text col-sm-6 {{ section.size }} {{ section.colors }}">
	<div class="l-table">
		<div class="l-table-row">
			<div class="l-table-cell">
				<div class="section-title-text-container">
				 	{% if section.title %}
				 		<h5 class='section-title-text-heading'>{{ section.title|raw }}</h5>
				 		<div class='divider {{ section['highlight-color'] }}'>&nbsp;</div>
				 	{% endif %}
					{% if section.text %}<p class='section-title-text-content'>{{ section.text|raw|nl2br }}</p>{% endif %}
                    {% if section.html %}<div class='section-title-text-content'>{{ section.html|raw|nl2br }}</div>{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>