<section class="multisection-section section-video-link col-sm-6 {{ section.size }}" style="background-image: url('{{ section.bgImageUrl }}');">
	<div class="multisection-section-overlay" style="background-color: rgba(0,0,0,{{ section.transparency ? section.transparency : '0.6' }}) !important;">
		<div class="l-table">
			<div class="l-table-row">
				<div class="l-table-cell">
					<div class="section-video-link-container">
						{% if section.caption %}
							<p class="section-video-link-caption">{{ section.caption|raw|nl2br }}</p>
						{% endif %}
						<a href="{{ section.hrefEmbedded|default(section.href) }}" class="icon-play colorbox"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>